<div class="row d-flex justify-content-center text-center" *ngIf="isLoaded && errMsg == ''">
    <div class="col-4 card-group" *ngFor="let product of products">
        <div class="border border-1 m-3 my-5 card">
            <img [src]="imgUrl+product.productImg" class="img-fluid card-img-top" style="height: 350px;" routerLink="/product/single/view/{{product._id}}">
            <div class="card-body">
                <h5 class="card-title mb-3">{{product.title}}</h5>
                <p class="card-subtitle mb-3 text-muted">{{product.desc}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Price:</strong>{{product.price}}</li>
            </ul>
              <div class="card-body">
                <button routerLink="/product/single/view/{{product._id}}" class="card-link btn btn-warning">View</button>
              </div>
        </div>
    </div>
</div>
<div class="alert alert-warning" *ngIf="!isLoaded && errMsg == ''"> 
    Loading Now ...
</div>
<div class="alert alert-danger" *ngIf="isLoaded && errMsg != ''">
    {{errMsg}}
</div>